/* OPTIONAL */
.container {
    display: block;
    margin: auto;
    width: 70%;
}

@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}
.slider-left-btn,
.slider-right-btn 
{
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
    line-height: 2.3rem;
    text-align: center;
    border-radius: 100px;
    background: #aaa;
    cursor: pointer;
}

/* SLIDER.JS */
.slider {
    position: relative;
}

.slider .slider-wrapper {
    position: relative;
    margin: auto;
    display: block;
    width: 100%;
}

.slider .slider-wrapper .slider-content {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
}


.slider .slider-wrapper .slider-left-btn,
.slider .slider-wrapper .slider-right-btn {
    position: absolute;
    top: 40%;
    z-index: 12;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slider .slider-wrapper .slider-left-btn {
    left: -10px;
}

.slider .slider-wrapper .slider-right-btn {
    right: -10px;
}

@media (max-width: 992px) {
   .slider .slider-wrapper .slider-left-btn {
        left: -30px;
    }

    .slider .slider-wrapper .slider-right-btn {
        right: -30px;
    }
}

.slider .slider-wrapper .slider-content .slider-items {
    position: relative;
    margin: 0;
    padding: 0;
    left: -34%;
}

.slider .slider-wrapper .slider-content .slider-items img {
    width: 100%;
}

.slider .slider-wrapper .slider-content .slider-items .slider-item {
    display: inline-block;
    float: left;
    margin: 0 20px;
}

.slider .slider-wrapper .slider-content .slider-items .slider-item .slider-item-title
{
    text-align: center;
}

.slider .slider-wrapper .slider-content .slider-items .slider-item .slider-item-more {
    text-align: center;
}

.slider .slider-wrapper .slider-content .slider-items .slider-item .btn {
    display: inline-block;
    margin: 20px auto;
}

/* BOARD.JS */